/* import google font "manrope" & "inter"  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

body {
  color: #1e1e1e;
  font-family: "Manrope", sans-serif;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.text-heading {
  color: rgb(85, 26, 139); /* [#551A8B] */
}

.text-secondary {
  color: #6b7280;
}
